.markdown {
  @apply text-lg leading-relaxed max-w-4xl mx-auto;
}

.markdown hr + p {
  /* margin-top: 3.125rem; */
}

.markdown p:first-child {
  /* margin-top: 3.125rem; */
}

.markdown a > p {
  @apply inline;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown h1 {
  @apply text-4xl md:text-6xl lg:text-7xl mt-12 mb-4 leading-snug;
  font-family: 'Playfair Display', 'Playfair Display Fallback';
}

.markdown h2 {
  @apply text-3xl font-bold mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown .spaced {
  @apply mx-auto my-6 md:my-10 lg:my-20;
}

.markdown img {
  @apply rounded max-h-720 max-w-full md:max-w-720 mx-auto my-6 md:my-10 lg:my-20;
}

.markdown p {
  @apply mb-4 md:mb-8 lg:mb-10;
}

.markdown ul {
  @apply pl-8;
  margin-block-start: 1rem;
}

.markdown li:not(:last-child) {
  @apply mb-4;
}

.markdown a {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  z-index: 2;
  /* color: #333; */
}

.markdown a::after {
  content: '';
  /* background: rgba(51,51,51, 0.25); */
  position: absolute;
  left: 6px;
  bottom: -6px;
  width: calc(100% - 8px);
  height: calc(100% - 12px);
  z-index: -1;
  transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
  background-image: linear-gradient(45deg, #fd8ba9, #9a94e8, #2edbf8, #f5f1c8, #fd8ba9) !important;
  opacity: 0.25;
}

.markdown a:hover:after {
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.markdown pre {
  @apply bg-gray-100 dark:bg-zinc-800 rounded-lg p-4 overflow-x-auto my-4 shadow-xl;
}

.markdown code {
  @apply font-mono text-sm;
}

.markdown pre code {
  @apply bg-transparent p-0;
}

.markdown :not(pre) > code {
  @apply bg-gray-100 dark:bg-zinc-800 px-1.5 py-0.5 rounded text-sm;
}
