@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes cursor-blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}

@layer utilities {
  .animate-cursor-blink {
    animation: cursor-blink 1s linear infinite;
  }
}
